image:          php:7.1-alpine

before_script:
- apk update
- apk add git
- curl -sS https://getcomposer.org/installer | php
- php composer.phar install

test:
  script:
    - composer install
    - composer test
